

  button {
    border: 2px solid #24b4fb;
    background-color: #24b4fb;
    border-radius: 0.7em;
    padding: 0.4em 0.6em 0.4em 0.5em;
    transition: all ease-in-out 0.2s;
    font-size: 10px;
   }
   
   button span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
   }
   
   button:hover {
    background-color: #0071e2;
   }
   .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px 8px 16px;
    gap: 8px;
    height: 40px;
    width: 128px;
    border: none;
    background: #056bfa27;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    
  }
  

  
  .button:hover {
    background: #056bfa49;
  }
  
  .button:hover .svg-icon {
    animation: spin 1s linear infinite;
  }
  


.col {
  display:grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 2rem; 
}
.btnimg {
  width: 18rem;
  height: 19rem;
  box-sizing: border-box; 
  border: 1px solid black; 
  padding: 5px;
  margin-top: 10px;
  
   
  
}
@media (max-width: 600px) {
  /* 600 piksel genişlikten küçük ekranlarda alt alta sıralama */
  .btnimg {
    width: 100%;
  }
}
.gurur {
  position: relative;
}

.text {
  position: absolute;
  top: 0;
  right: 0;
  width: 55px;
  font-size: 36px;
  
}

.form-control {
  width: 500px;
}